body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border: 1px solid #000;
    padding: 10px;
}

.outputHeader {
    font-weight: bold;
    font-size: 18px;
}

em {
    color: red;
}