body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border: 1px solid #000;
    padding: 10px;
    width: 500px;
    height: 500px;
    background-image: image-set(
        url("/images/background.webp"),
        url("/images/background.webp") type("image/webp"),
        url("/images/background.jpg"),
        url("/images/background.jpg") type("image/jpeg")
    ); // very limited support for image-set.. regardless of caniuse pages info
    background-image: url("/images/background.webp"); // ..that's why this fallback
    background-size: cover;
    background-blend-mode: darken;

    &-inner {
        width: 304px;
        margin: 0 auto;
        text-align: center;

        img {
            width: 300px;
            height: 267px;
            border: 4px solid rgba(0,0,0,0.3);
            display: block;
        }
    }
}

.outputHeader {
    font-weight: bold;
    font-size: 18px;
}

em {
    color: red;
}

p {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
    border-radius: 30%;
    color: #ddd;
}